## Лабораторная работа по курсу «Python для анализа данных»

#### Задача 1

Дана строка:

In [ ]:
string_01 = "History is always written by the winners. When two cultures clash, the loser is obliterated, and the winner writes the history books - books which glorify their own cause and disparage the conquered foe. As Napoleon once said, 'What is history, but a fable agreed upon?'"

1. Посчитайте, сколько в строке символов, исключая пробелы:

In [ ]:
string = string_01.replace(" ", "")

res = len(string)

print(res)

225

2. Посчитайте, сколько в строке слов.

In [ ]:
string = string_01.split()

res = len(string)

print(res)

46

3. Напишите функцию, которая будет принимать в качестве аргумента букву и выводить все слова из строки, начинающиеся на эту букву (например, “w”).

In [201]:
letter = 'w'

def find_word():
  for x in string_01.split():
    if x.lower().startswith(letter):
      print(x)

find_word()

written
winners.
When
winner
writes
which

str

#### Задача 2

Напишите код, который будет генерировать случайную последовательность из 6 цифр, одна из которых должна быть 3. Позиция цифры 3 должна
определяться случайным образом. Результат должен быть строкой. Например: "456309" или "330127".

In [173]:
from random import randint

num = ''

while '3' not in num:
  num = ''.join([str(randint(0,9)) for x in range(6)])

print(num)

464873

#### Задача 3

Дан список:

In [ ]:
list_01 = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 14, 46, 273, 22, 99, 15, 1000]

Напишите алгоритм, который выводит число, равное сумме элементов списка, которые больше 10, но меньше 100, и которые больше 200, но меньше 500.

In [177]:
list_01 = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 14, 46, 273, 22, 99, 15, 1000]

sum([x for x in list_01 if 10 < x < 100 or 200 < x < 500])

1291

#### Задача 4

Данные студентов представлены в виде списка списков:

In [ ]:
students = [
["0001", "Антонов", "Антон", "Игоревич", "20.08.2009","БСТ161"],
["1102", "Богов", "Артем", "Игоревич", "25.01.2010","БСТ162"],
["0333", "Глаголева", "Анастасия", "Николаевна", "11.07.2009", "БСТ163"],
["4004", "Степанова", "Наталья", "Александровна", "13.02.2008", "БСТ161"],
["0045", "Боков", "Игорь", "Харитонович", "02.06.2009", "БСТ161"],
["0096", "Васильков", "Валентин", "Сергеевич", "20.03.2009", "БСТ164"],
["0607", "Сиропова", "Виолетта", "Эдуардовна", "28.05.2010", "БСТ162"]
    ]

1. Преобразуйте данные таким образом, чтобы они были представлены в виде словаря, в котором ключами являются номера студентов, а значениями — список из других данных о студентах.

In [180]:
students_dict = {}

for x in students:
    students_dict[x[0]] = x[1:] 
  
print(students_dict)

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'], '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'], '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'], '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'], '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'], '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'], '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162']}

2. Напишите функцию, которая принимает в качестве аргумента номер студента и новый номер группы и позволяет изменить номер группы этого студента на новый внутри созданного словаря.

In [190]:
def change_num(num, new_num):

  for x in students_dict.keys():
    students_dict[num][4] = new_num

change_num()

3. Напишите функцию, которая принимает номер группы и выводит список (фамилии, имена, отчества) всех студентов этой группы. Необходимо обращаться к словарю.

In [192]:
def fio(num_group):
  for x in students_dict.values():
    if x[4] == num_group:
      print(x[0:3])

fio()

['Антонов', 'Антон', 'Игоревич']
['Богов', 'Артем', 'Игоревич']
['Степанова', 'Наталья', 'Александровна']
['Боков', 'Игорь', 'Харитонович']

#### Задача 5

Дана матрица:

In [ ]:
matrix = [ 
    [0,1,2,4,8], 
    [6,2,2,1,9], 
    [3,3,3,3,3], 
    [4,6,7,1,2], 
    [5,7,3,4,0] 
]

1. Выведите результат сложения всех элементов матрицы.

In [195]:
sum(sum(x) for x in matrix)

89

2. Напишите алгоритм вычисления максимума из сумм элементов каждого столбца.

In [196]:
max(sum(x) for x in zip(*matrix))

22